<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header style="background-color:powderblue">
            <h5>Header Area</h5>
        </header>
        @RenderBody()
        <footer style="background-color:saddlebrown">
            <h5>Footer Area</h5>
        </footer>
    </div>
</body>
</html>
